.pushupsGO {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5555;
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.doneBtn {
    position: fixed!important;
    right:10px;
    top:10px;
}

h1 {
    font-size: 8em;
    color:#8d8d8d;
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.8);
}

.redpoint {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    background: rgba(255,255,255, 0.3);
}
